@import "@/styles/imports";

.theme_cards_container {
    width: 100%;
    padding: 10rem 0 0;
    background: $col-white;
    @include noScrollBar();
    .cards_container_wrapper {
        max-width: 1440px;
        margin: 0 auto;
        & > section {
            gap: 3rem;
        }
        .first_container {
            padding: 0 10rem;
            .wrapper_class {
                flex-direction: row-reverse!important;
                margin: 0;
                @include noScrollBar();
                display: flex;
                align-items: center;
                gap: 12rem;
                width: 100%;
                @include noScrollBar();
                .text_details {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    translate: 0 50%;
                    opacity: 0;
                    transition: translate 0.5s ease-out, opacity 0.5s ease-out;
                    h1 {
                        color: #14361B;
                        font-family: $font-gothic-bold;
                        font-size: 4.4rem;
                        line-height: 5.6rem;
                    }
                    h3 {
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                        color: #616161;
                        font-family: $font-gothic;
                        text-align: justify;
                    }
                }
                .image_wrapper {
                    width: 45%;
                    height: 60rem;
                    position: relative;
                    translate: 0 50%;
                    opacity: 0;
                    flex-shrink: 0;
                    @include noScrollBar();
                    transition: translate 0.5s ease-out, opacity 0.5s ease-out;
                }
                &.visible {
                    transition: all 0.5s ease-out;
                    .image_wrapper, .text_details {
                        opacity: 1;
                        translate: 0 0%;
                    }
                    .text_details {
                        transition-delay: 0.15s;
                    }
                }
            }
        }
    }

    @include screenMax('tablet') {
        padding: 6rem 0 0;
        .cards_container_wrapper {
            .first_container {
                padding: 0 5rem;
                .wrapper_class {
                    flex-direction: column-reverse!important;
                    gap: 5rem;
                    & > div {
                        width: 100%!important;
                    }
                    .text_details {
                        opacity: 1;
                        translate: 0 0%;
                        width: 100%;
                        h1 {
                            font-size: 3.2rem;
                            line-height: 4.4rem;
                            opacity: 0;
                            translate: 0 50%;
                            transition: all 0.4s ease-out;
                            &.visible {
                                transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                                opacity: 1;
                                translate: 0 0%;
                            }
                        }
                        h3 {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                            opacity: 0;
                            translate: 0 50%;
                            transition: all 0.4s ease-out;
                            &.visible {
                                transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                                opacity: 1;
                                translate: 0 0%;
                            }
                        }
                        .paragraph_2 {
                            &.visible {
                                transition-delay: 0.25s;
                            }
                        }
                        .paragraph_3 {
                            &.visible {
                                transition-delay: 0.5s;
                            }
                        }
                    }
                    .image_wrapper {
                        width: 100%;
                        height: 45rem;
                        opacity: 0;
                        translate: 0 50%;
                        transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                        &.visible {
                            opacity: 1;
                            translate: 0 0%;
                            transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                        }
                    }
                }
            }
        }
    }

    @include screenMax('mobile') {
        padding: 3.2rem 0 0;
        .cards_container_wrapper {
            & > section {
                gap: 3rem!important;
            }
            .first_container {
                padding: 0 1.6rem;
                .wrapper_class {
                    flex-direction: column-reverse!important;
                    gap: 2.4rem;
                    .text_details {
                        width: 100%;
                        gap: 0.8rem;
                        h1 {
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                            text-align: left;
                        }
                        h3 {
                            font-size: 1.4rem;
                            line-height: 2rem;
                            text-align: justify;
                        }
                    }
                    .image_wrapper {
                        height: 28rem;
                    }
                }
            }
        }
    }
}