@import "@/styles/imports";

.theme_cards_container {
    width: 100%;
    padding: 10rem 0 0;
    background: $col-white;
    .cards_container_wrapper {
        max-width: 1440px;
        margin: 0 auto;
        & > section {
            gap: 3rem;
        }
        .first_container {
            padding: 0 10rem;
            .wrapper_class, .wrapper_class_reverse {
                align-items: flex-start!important;
                flex-direction: row-reverse!important;
            }
            .text_details {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                h1 {
                    color: #14361B;
                    font-family: $font-gothic-bold;
                    font-size: 4.4rem;
                    line-height: 5.6rem;
                }
                h3 {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    color: #616161;
                    font-family: $font-gothic;
                    text-align: justify;
                }
            }
            .theme_details {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                width: 100%;
                h3 {
                    font-family: $font-gothic-bold;
                    color: #14361B;
                    font-size: 4.4rem;
                    line-height: 5.6rem;
                }
                h6 {
                    font-family: $font-gothic;
                    color: #14361B;
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                }
                .details_container {
                    display: flex;
                    gap: 0.8rem;
                    align-items: flex-start;
                    width: 100%;
                    .details {
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                        width: 33.3%;
                        h3 {
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                            color: #3DB54A;
                            font-family: $font-gothic-bold;
                        }
                        p {
                            color: #616161;
                            font-family: $font-gothic;
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                        }
                    }
                }
            }
        }
        .theme_container {
            margin: 6rem 0;
            width: 100%;
            padding: 6.8rem 0;
            border-top: 0.1rem solid #000;
            border-bottom: 0.1rem solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            .theme_container_content {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 100%;
                margin: 0 auto;
                h1 {
                    font-size: 4.4rem;
                    color: #3DB54A;
                    line-height: 5.6rem;
                    font-family: $font-gothic-bold;
                    text-align: center;
                }
                .subtext {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    h3 {
                        text-align: center;
                        color: #14361B;
                        font-size: 4.4rem;
                        line-height: 5.6rem;
                        font-family: $font-gothic-bold;
                    }
                    p {
                        text-align: center;
                        font-size: 2.4rem;
                        color: #14361B;
                        line-height: 3.2rem;
                        font-family: $font-gothic;
                    }
                }
            }
        }
        .event_details {
            width: 100%;
            padding: 0 10rem 12rem;
            margin: 0;
            .wrapper_class {
                align-items: flex-start!important;
                flex-direction: row-reverse!important;
            }
            .event_details_text {
                display: flex;
                flex-direction: column;
                gap: 5.2rem;
                h1 {
                    font-size: 4.4rem;
                    font-family: $font-gothic-bold;
                    line-height: 5.6rem;
                    color: #14361B;
                }
                h3 {
                    font-size: 2.4rem;
                    font-family: $font-gothic;
                    color: #616161;
                    line-height: 3.2rem;
                    text-align: justify;
                }
            }
        }
    }

    @include screenMax('tablet') {
        padding: 6rem 0 0;
        .cards_container_wrapper {
            .first_container {
                padding: 0 5rem;
                .wrapper_class {
                    flex-direction: column-reverse!important;
                    & > div {
                        width: 100%!important;
                    }
                }
                .wrapper_class_reverse {
                    flex-direction: column!important;
                    & > div {
                        width: 100%!important;
                    }
                }
                .text_details{
                    h1 {
                        font-size: 3.2rem;
                        line-height: 4.4rem;
                    }
                    h3 {
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                    }
                }
                .theme_details {
                    gap: 2rem;
                    h3 {
                        font-size: 3.2rem;
                        line-height: 4.4rem;
                    }
                    h6 {
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                    }
                }
            }
            .theme_container {
                margin: 2rem 0;
                .theme_container_content {
                    h1 {
                        font-size: 3.6rem;
                        line-height: 4.4rem;
                    }
                    .subtext {
                        h3 {
                            font-size: 3.6rem;
                            line-height: 4.4rem;
                        }
                        p {
                            font-size: 2rem;
                            line-height: 2.8rem;
                        }
                    }
                }
            }
            .event_details {
                padding: 0 4rem 8rem;
                margin: 0;
                .wrapper_class {
                    flex-direction: column-reverse!important;
                    & > div {
                        width: 100%!important;
                    }
                }
                .event_details_text {
                    gap: 1.6rem;
                    h1 {
                        font-size: 3.6rem;
                        line-height: 4.8rem;
                    }
                }
            }
        }
    }

    @include screenMax('mobile') {
        padding: 3.2rem 0 0;
        .cards_container_wrapper {
            & > section {
                gap: 3rem!important;
            }
            .first_container {
                padding: 0 1.6rem;
                .wrapper_class {
                    flex-direction: column-reverse!important;
                }
                .wrapper_class_reverse {
                    flex-direction: column!important;
                }
                .text_details {
                    width: 100%;
                    gap: 0.8rem;
                    h1 {
                        font-size: 2.4rem;
                        line-height: 3.2rem;
                        text-align: left;
                    }
                    h3 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        text-align: justify;
                    }
                }
                .theme_details {
                    gap: 0.8rem;
                    margin: 0 auto;
                    width: 100%;
                    h3 {
                        font-size: 2rem;
                        text-align: left;
                        line-height: 2.8rem;
                    }
                    h6 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        text-align: justify;
                    }
                    .details_container {
                        align-items: flex-start;
                        .details {
                            h3 {
                                font-size: 1.6rem;
                                line-height: 2rem;
                                text-align: left;
                            }
                            p {
                                font-size: 1rem;
                                line-height: 1.4rem;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            .theme_container {
                margin: 0 0 6rem;
                padding: 2.4rem 0;
                .theme_container_content {
                    width: 100%;
                    padding: 0 2rem;
                    h1 {
                        font-size: 2.4rem;
                        line-height: 3.2rem;
                    }
                    .subtext {
                        h3 {
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                        }
                        p {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                    }
                }
            }
            .event_details {
                padding: 0 2rem 4rem;
                margin: 0;
                .wrapper_class {
                    flex-direction: column-reverse!important;
                }
                .event_details_text {
                    gap: 0.8rem;
                    h1 {
                        font-size: 2.4rem;
                        line-height: 3.2rem;
                        text-align: left;
                    }
                    h3 {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                    }
                }
            }
        }
    }
}