@import "@/styles/imports";

.highlights_container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 21.4rem 8rem;
    background: #3DB54A;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    h1 {
        font-size: 8rem;
        line-height: 9.6rem;
        color: $col-white;
        font-family: $font-gothic-bold;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        .card {
            width: 100%;
            display: flex;
            align-items: flex-end;
            gap: 50rem;
            justify-content: center;
            .box {
                width: 44rem;
                height: 44rem;
                background: #14361B;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon_wrapper {
                    position: relative;
                    height: 9.5rem;
                    width: 28.7rem;
                }
            }
            .text {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                width: 55rem;
                h3 {
                    color: $col-white;
                    font-size: 3.5rem;
                    font-family: $font-gothic-bold;
                    line-height: 4.4rem;
                }
                p {
                    color: #14361B;
                    font-size: 2rem;
                    line-height: 2.4rem;
                    font-family: $font-gothic;
                }
            }
        }
    }

    @include screenMax('tablet') {
        padding: 10rem 4rem;
        gap: 4rem;
        h1 {
            font-size: 3.5rem;
            line-height: 4.4rem;
        }
        .cards {
            gap: 4rem;
            .card {
                gap: 10rem;
                .text {
                    width: 45rem;
                }
            }
        }
    }

    @include screenMax('mobile') {
        padding: 6rem 1.6rem;
        gap: 2.4rem;
        h1 {
            font-size: 2rem;
            line-height: 2.4rem;
        }
        .cards {
            gap: 3.2rem;
            .card {
                flex-direction: column;
                justify-content: unset;
                gap: 1.6rem;
                align-items: flex-start;
                .box {
                    width: 26.1rem;
                    height: 24rem;
                    .icon_wrapper {
                        width: 17rem;
                        height: 5.6rem;
                    }
                }
                .text {
                    gap: 1.5rem;
                    width: 100%;
                    h3 {
                        text-align: left;
                        font-size: 2rem;
                        line-height: 2.4rem;
                    }
                    p {
                        text-align: left;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                }
            }
        }
    }
}