@import "@/styles/imports";

.highlights_container {
    width: 100%;
    padding: 21.4rem 8rem;
    background: #3DB54A;
    .highlights_content {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        h1 {
            font-size: 9.8rem;
            line-height: 11.6rem;
            color: $col-white;
            font-family: $font-gothic-bold;
        }
        .cards {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            .card {
                width: 100%;
                display: flex;
                align-items: flex-end;
                gap: 25rem;
                justify-content: center;
                .box {
                    width: 70rem;
                    height: 44rem;
                    background: #14361B;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    .icon_wrapper {
                        position: relative;
                        height: 9.5rem;
                        width: 28.7rem;
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;
                    width: 45%;
                    h3 {
                        color: $col-white;
                        font-size: 4.8rem;
                        font-family: $font-gothic-bold;
                        line-height: 6.4rem;
                    }
                    p {
                        color: #14361B;
                        font-size: 2.4rem;
                        line-height: 3.2rem;
                        font-family: $font-gothic;
                        text-align: justify;
                    }
                }
            }
            .second_card {
                .box {
                    .icon_wrapper {
                        position: relative;
                        height: 9.1rem;
                        width: 26.8rem;
                    }
                }
            }
            .second_card {
                .box {
                    .icon_wrapper {
                        position: relative;
                        height: 16.2rem;
                        width: 28rem;
                    }
                }
                .text {
                    width: 35%;
                    margin: 0 auto 0 0;
                }
            }
        }
    }

    @include screenMax('tablet') {
        padding: 10rem 4rem 8rem;
        .highlights_content {
            gap: 4rem;
            h1 {
                font-size: 4.8rem;
                line-height: 5.4rem;
            }
            .cards {
                gap: 4rem;
                .card {
                    gap: 4rem;
                    .text {
                        width: 45rem;
                        gap: 1.6rem;
                        h3 {
                            font-size: 3.2rem;
                            line-height: 4.4rem;
                        }
                        p {
                            font-size: 2rem;
                            line-height: 2.8rem;
                        }
                    }
                    .box {
                        width: 45rem;
                        height: 40rem;
                    }
                }
            }
        }
    }

    @include screenMax('mobile') {
        padding: 6rem 1.6rem;
        .highlights_content {
            gap: 1.6rem;
            h1 {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }
            .cards {
                gap: 1.6rem;
                .card {
                    flex-direction: column;
                    justify-content: unset;
                    gap: 1.6rem;
                    align-items: flex-start;
                    .box {
                        width: 80%;
                        height: 25rem;
                        .icon_wrapper {
                            width: 17rem;
                            height: 5.6rem;
                        }
                    }
                    .text {
                        gap: 0.8rem;
                        width: 100%;
                        h3 {
                            text-align: left;
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                        }
                        p {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                        .link_class {
                            width: max-content!important;
                            gap: 1rem!important;
                            & span {
                                margin: 0 0 -0.4rem!important;
                            }
                        }
                    }
                }
                .second_card {
                    .box {
                        .icon_wrapper {
                            position: relative;
                            height: 5.4rem;
                            width: 15.9rem;
                        }
                    }
                }
                .last_card {
                    .box {
                        .icon_wrapper {
                            position: relative;
                            height: 9rem;
                            width: 15.3rem;
                        }
                    }
                }
            }
        }
    }
}