@import "@/styles/imports";

.continent_container {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../../../public/images/continent.png');
    background-size: cover;
    background-repeat: no-repeat;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #14361B;
        opacity: 0.75;
        z-index: 1;

    }
    .continent_details {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        margin: 0 auto;
        max-width: 1440px;
        z-index: 2;
        h3 {
            text-align: center;
            font-family: $font-gothic-bold;
            font-size: 4.4rem;
            color: #3DB54A;
            line-height: 5.6rem;
        }
        p {
            text-align: center;
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-family: $font-gothic;
            color: #FFFFFF;
            width: 80rem;
        }
    }

    @include screenMax('tablet') {
        background-size: cover;
    }

    @include screenMax('mobile') {
        height: 50vh;
        background-size: cover;
        .continent_details {
            gap: 1.6rem;
            h3 {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }
            p {
                font-size: 1.4rem;
                line-height: 2rem;
                width: 90%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}