@import "@/styles/imports";

.container {
    background: #14361B;
    padding: 14rem 8.2rem 19rem;
    .wrapper {
        align-items: flex-start!important;
    }
    .text_details {
        h1 {
            color: #3DB54A;
            font-family: $font-gothic-bold;
            font-size: 4.4rem;
            line-height: 5.6rem;
        }
        .text_body {
            margin: 4rem 0;
            h3 {
                font-family: $font-gothic;
                color: $col-white;
                font-size: 2.4rem;
                line-height: 3.2rem;
                text-align: justify;
                margin-bottom: 1.6rem;
            }
        }
        .custom_link_class {
            max-width: fit-content!important;
        }
        .custom_link_class > p {
            font-size: 2rem!important;
            line-height: 2.4rem!important;
        }
    }

    @include screenMax('tablet') {
        padding: 8rem 6rem 0;
        .wrapper {
            flex-direction: column-reverse!important;
            & > div {
                width: 100%!important;
            }
        }
        .text_details {
            h1 {
                font-size: 3.2rem;
                line-height: 4.4rem;
            }
            .text_body {
                margin: 2.4rem 0;
                h3 {
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                }
            }
        }
    }

    @include screenMax('mobile') {
        padding: 2.4rem 2rem 0;
        .text_details {
            h1 {
                font-size: 2.2rem;
                line-height: 2.8rem;
                text-align: left;
            }
            .text_body {
                margin: 1.6rem 0;
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                h3 {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    margin: 0;
                }
            }
            .custom_link_class > p {
                font-size: 1.2rem!important;
                line-height: 1.6rem!important;
            }
        }
    }
}