@import "@/styles/imports";

.why_partner_container {
    background: $col-white;
    @include noScrollBar();
    padding: 12rem;
    width: 100%;
    .why_partner_wrapper {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        .wrapper {
            @include noScrollBar();
            display: flex;
            align-items: center;
            gap: 12rem;
            width: 100%;
            .image_wrapper {
                width: 45%;
                height: 60rem;
                position: relative;
                translate: 0 50%;
                opacity: 0;
                flex-shrink: 0;
                @include noScrollBar();
                transition: translate 0.5s ease-out, opacity 0.5s ease-out;
            }
            .private_sector_details {
                width: 55%;
                translate: 0 50%;
                opacity: 0;
                transition: translate 0.5s ease-out, opacity 0.5s ease-out;
                h2 {
                    color: #14361B;
                    font-size: 4.4rem;
                    line-height: 5.6rem;
                    font-family: $font-gothic-bold;
                    margin-bottom: 5.6rem;
                }
                h3 {
                    font-family: $font-gothic;
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                    color: #616161;
                    margin-bottom: 2.4rem;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    li {
                        list-style-type: disc!important;
                        font-family: $font-gothic;
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                        color: #616161;
                    }
                }
            }
            &.visible {
                transition: all 0.5s ease-out;
                .image_wrapper, .private_sector_details {
                    opacity: 1;
                    translate: 0 0%;
                }
                .private_sector_details {
                    transition-delay: 0.15s;
                }
            }
        }
        .divider {
            height: 0.1rem;
            width: 100vw;
            background: #00000033;
            display: none;
        }
    }

    @include screenMax('tablet') {
        padding: 8rem 0;
        .why_partner_wrapper {
            .wrapper {
                padding: 0 2.4rem!important;
                gap: 2rem;
                .private_sector_details {
                    h2 {
                        font-size: 3.2rem;
                        line-height: 4.4rem;
                        margin-bottom: 2.4rem;
                    }
                    h3 {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                    }
                    ul {
                        li {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                        }
                    }
                }
                .image_wrapper {
                    height: 45rem;
                }
            }
        }
    }

    @include screenMax('mobile') {
        padding: 4rem 0;
        .why_partner_wrapper {
            .wrapper {
                padding: 0 1.6rem!important;
                flex-direction: column-reverse!important;
                gap: 2.4rem;
                .private_sector_details {
                    opacity: 1;
                    translate: 0 0%;
                    width: 100%;
                    h2 {
                        text-align: left;
                        line-height: 2.4rem;
                        margin-bottom: 1.6rem;
                        font-size: 2rem;
                        opacity: 0;
                        translate: 0 50%;
                        transition: all 0.4s ease-out;
                        &.visible {
                            transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                            opacity: 1;
                            translate: 0 0%;
                        }
                    }
                    h3 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        text-align: left;
                        margin-bottom: 1.6rem;
                        opacity: 0;
                        translate: 0 50%;
                        transition: all 0.4s ease-out;
                        &.visible {
                            transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                            opacity: 1;
                            translate: 0 0%;
                        }
                    }
                    ul {
                        padding: 0 1rem;
                        li {
                            font-size: 1.4rem;
                            line-height: 2rem;
                            text-align: justify;
                        }
                        &.visible {
                            li {
                                transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                                opacity: 1;
                                translate: 0 0%;
                                &:nth-child(1) {
                                    transition-delay: 0s;
                                }
                                &:nth-child(2) {
                                    transition-delay: 0.3s;
                                }
                                &:nth-child(3) {
                                    transition-delay: 0.6s;
                                }
                                &:nth-child(4) {
                                    transition-delay: 0.9s;
                                }
                            }
                        }
                    }
                    
                }
                .image_wrapper {
                    width: 100%;
                    height: 28rem;
                    opacity: 0;
                    translate: 0 50%;
                    transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                    &.visible {
                        opacity: 1;
                        translate: 0 0%;
                        transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                    }
                }
            }
            .divider {
                display: block;
                margin: 0;
            }
        }
    }
}