@import "@/styles/imports";

.partners_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    .partners_container {
        padding: 6rem 10rem 0;
        width: 100%;
        background: $col-white;
        @include noScrollBar();
        .wrapper_class {
            @include noScrollBar();
            display: flex;
            align-items: center;
            gap: 12rem;
            width: 100%;
            .image_wrapper {
                width: 45%;
                height: 60rem;
                position: relative;
                translate: 0 50%;
                opacity: 0;
                flex-shrink: 0;
                @include noScrollBar();
                transition: translate 0.5s ease-out, opacity 0.5s ease-out;
            }
            .text {
                display: flex;
                flex-direction: column;
                gap: 2.6rem;
                width: 54%;
                translate: 0 50%;
                opacity: 0;
                transition: translate 0.5s ease-out, opacity 0.5s ease-out;
                h2 {
                    text-align: left;
                    font-family: $font-gothic-bold;
                    font-size: 4.4rem;
                    color: #14361B;
                    line-height: 5.6rem;
                }
                .text_body {
                    width: 100%;
                    h3 {
                        font-family: $font-gothic;
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                        color: #14361B;
                        text-align: left;
                        span {
                            font-family: $font-gothic-bold;
                            font-size: 2.2rem;
                            line-height: 2.8rem;
                            color: #14361B;
                        }
                    }
                }
                .link_class_container {
                    .link_class {
                        position: relative;
                    }
                }
            }
            &.visible {
                transition: all 0.5s ease-out;
                .image_wrapper, .text {
                    opacity: 1;
                    translate: 0 0%;
                }
                .text {
                    transition-delay: 0.15s;
                }
            }
        }
    
        @include screenMax('tablet') {
            padding: 6rem 3.2rem 0;
            .wrapper_class {
                flex-direction: column-reverse!important;
                gap: 6rem;
                & > div {
                    width: 100%!important;
                }
                .image_wrapper {
                    width: 100%;
                    height: 45rem;
                    transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                    &.visible {
                        opacity: 1;
                        translate: 0 0%;
                        transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                    }
                }
                .text {
                    width: 100%;
                    gap: 1.6rem;
                    opacity: 1;
                    translate: 0 0%;
                    h2 {
                        font-size: 3.6rem;
                        line-height: 4.4rem;
                        opacity: 0;
                        translate: 0 50%;
                        transition: all 0.4s ease-out;
                        &.visible {
                            transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                            opacity: 1;
                            translate: 0 0%;
                        }
                    }
                    .text_body {
                        h3 {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                            opacity: 0;
                            translate: 0 50%;
                            transition: all 0.4s ease-out;
                            &.visible {
                                transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                                opacity: 1;
                                translate: 0 0%;
                            }
                        }
                        .paragraph_2 {
                            &.visible {
                                transition-delay: 0.2s;
                            }
                        }
                        .paragraph_3 {
                            &.visible {
                                transition-delay: 0.4s;
                            }
                        }
                        .paragraph_4 {
                            &.visible {
                                transition-delay: 0.6s;
                            }
                        }
                    }
                    .link_class_container {
                        opacity: 0;
                        translate: 0 50%;
                        margin-top: 1.6rem;
                        transition: all 0.4s ease-out;
                        &.visible {
                            transition: translate 0.4s ease-out, opacity 0.4s ease-out;
                            opacity: 1;
                            translate: 0 0%;
                        }
                    }
                }
                // &.visible {
                //     transition: all 0.4s ease-out;
                //     .image_wrapper {
                //         opacity: 1;
                //         translate: 0 0%;
                //     }
                // }
            }
        }
    
        @include screenMax('mobile') {
            padding: 2rem 1.6rem 4rem;
            .wrapper_class {
                flex-direction: column-reverse!important;
                gap: 3.2rem;
                .image_wrapper {
                    width: 100%;
                    height: 28rem;
                }
                .text {
                    h2 {
                        font-size: 2.4rem;
                        line-height: 3.2rem;
                    }
                    .text_body {
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                        br {
                            display: none;
                        }
                        h3 {
                            font-size: 1.4rem;
                            line-height: 2rem;
                            span {
                                font-size: 1.4rem;
                                line-height: 2rem;
                            }
                        }
                    }
                    .link_class_container {
                        .link_class {
                            width: max-content!important;
                            &::after {
                                width: 140%!important;
                            }
                        }
                    }
                }
            }
        }
    }
}