@import "@/styles/imports";

.not_found_container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #3DB54A;
    position: relative;
    background-image: url('../../public/images/404_page_bg.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0F3D25;
        opacity: 0.95;
        z-index: 1;
        
    }
    .details {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 7.3rem;
        z-index: 2;
        .image {
            position: relative;
            width: 77.2rem;
            height: 47rem;
        }
        h3 {
            text-align: center;
            font-family: $font-gothic;
            font-size: 4.4rem;
            color: $col-white;
            line-height: 5.6rem;
        }
    }

    @include screenMax('tablet') {
        background-size: cover;
        height: 91.5vh;
        .details {
            .image {
                height: 45rem;
            }
            h3 {
                font-size: 3.2rem;
                line-height: 4.4rem;
            }
        }
    }

    @include screenMax('mobile') {
        height: 60vh;
        .details {
            .image {
                width: 22.7rem;
                height: 14.3rem;
            }
            h3 {
                font-size: 2rem;
                line-height: 2.4rem;
            }
        }
    }
}