@import "@/styles/imports";

.theme_cards_container {
    width: 100%;
    padding: 10rem 10rem 0;
    margin: 0 auto;
    background: $col-white;
    @include noScrollBar();
    .text_details {
        width: 100%;
        @include noScrollBar();
        h3 {
            font-size: 2.4rem;
            line-height: 3.2rem;
            letter-spacing: 0.01rem;
            text-align: justify;
            color: #616161;
            font-family: $font-gothic;
        }
    }

    @include screenMax('tablet') {
        padding: 6rem 5rem 0;
        .text_details{
            h3 {
                font-size: 1.8rem;
                line-height: 2.4rem;
            }
        }
    }

    @include screenMax('mobile') {
        padding: 2rem;
        .text_details {
            width: 100%;
            h3 {
                font-size: 1.4rem;
                line-height: 2rem;
                text-align: justify;
            }
        }
    }
}