@import "@/styles/imports";

.book_a_ticket_container {
    width: 100%;
    background: #102F16;
    height: 14.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
        background: transparent;
        .book_a_ticket_details {
            display: flex;
            align-items: center;
            gap: 55rem;
            h2 {
                font-family: $font-gothic-bold;
                color: $col-white;
                font-size: 3.6rem;
                line-height: 4rem;
            }
            .buttons {
                display: flex;
                align-items: center;
                gap: 1.6rem;
                .register_button, .book_button {
                    width: 15rem;
                    height: 5.4rem;
                    background: transparent;
                    border: 0.1rem solid #3DB54A;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & > div {
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;
                    }
                    .button_icon {
                        width: 1.7rem;
                        height: 1.7rem;
                        position: relative;
                    }
                    h3 {
                        font-family: $font-gothic-bold;
                        font-size: 2rem;
                        line-height: 2.4rem;
                        color: #3DB54A;
                    }
                }
                .book_button {
                    width: 19rem;
                }
            }
        }
    }

    @include screenMax('tablet') {
        .wrapper {
            .book_a_ticket_details {
                gap: 15rem;
            }
        }
    }

    @include screenMax('mobile') {
        height: 11rem;
        .wrapper {
            .book_a_ticket_details {
                gap: 1rem;
                flex-direction: column;
                h2 {
                    font-size: 2rem;
                    line-height: 2.4rem;
                }
                .buttons {
                    gap: 2rem;
                    .register_button {
                        width: 12rem;
                        height: 3.1rem;
                        .button_icon {
                            width: 1.6rem;
                            height: 1.6rem;
                        }
                        h3 {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                    }
                    .book_button {
                        width: 15rem;
                        height: 3.1rem;
                        .button_icon {
                            width: 1.6rem;
                            height: 1.6rem;
                        }
                        h3 {
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}