@import "@/styles/imports";

.footer {
	background: $col-white;
	position: relative;
	width: 100%;
	padding: 6rem 10rem 0;
	.footer_body {
		max-width: 1440px;
		margin: 0 auto;
		width: 100%;
		align-items: flex-start;
		justify-content: space-between;
		display: flex;
		.questions_container {
			.questions {
				width: 44rem;
				margin-bottom: 5.6rem;
				h3 {
					color: #3DB54A;
					font-size: 4.4rem;
					font-family: $font-gothic-bold;
					line-height: 5.6rem;
				}
				p {
					font-size: 1.6rem;
					line-height: 2.4rem;
					font-family: $font-gothic;
					color: #000;
					width: 125%;
					span {
						font-size: 1.6rem;
						line-height: 2.4rem;
						font-family: $font-gothic;
						color: #000;
						cursor: pointer;
						text-decoration: underline;
						&:hover {
							transition: all 300ms ease-in-out;
							border-bottom: 0.1rem solid #000;
						}
					}
				}
			}
			.copy_write {
				border-top: 0.1rem solid #000;
				width: fit-content;
				h3 {
					font-size: 1.2rem;
					line-height: 1.6rem;
					color: #000;
					font-family: $font-gothic;
					margin-top: 1.6rem;
				}
			}
		}
		.nav_list {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			a {
				transition: all 300ms ease-in-out;
				li {
					color: #14361B;
					font-family: $font-gothic;
					font-size: 1.8rem;
					text-decoration: underline;
					line-height: 2.7rem;
					&:hover {
						color: #3DB54A;
						transition: all 300ms ease-in-out;
					}
				}
			}
		}
		.socials_and_logo {
			display: flex;
			flex-direction: column;
			gap: 7rem;
			.socials {
				display: flex;
				align-items: center;
				gap: 2rem;
				a {
					.social_icon {
						width: 2.4rem;
						height: 2.4rem;
						position: relative;
						cursor: pointer;
					}
				}
			}
			.footer_logo {
				h3 {
					color: #14361B;
					font-size: 2.4rem;
					line-height: 3.2rem;
					font-family: $font-gothic-bold;
					margin-bottom: 0.8rem;
				}
				a {
					.logo {
						width: 18rem;
						height: 5.4rem;
						position: relative;
					}
				}
			}
		}
		.divider {
			display: none;
		}
	}
	.image_background__container {
        position: absolute;
        bottom: -30rem;
        left: 0;
        width: 100%;
        height: 30.1rem;
		background: $col-white;
        .image_background {
            position: relative;
            width: 100%;
            height: 100%;
        }
		.footer_bg_image_sm {
			display: none;
		}
    }

	@include screenMax('tablet') {
		padding: 4rem 4rem 0;
		.footer_body {
			.questions_container {
				width: 100%;
				.questions {
					margin-bottom: 5rem;
					h3 {
						font-size: 3.2rem;
						line-height: 4rem;
					}
					p {
						font-size: 1.8rem;
						line-height: 2.4rem;
						width: 90%;
						span {
							font-size: 1.8rem;
							line-height: 2.4rem;
						}
					}
				}
				.copy_write {
					h3 {
						font-size: 1.8rem;
						line-height: 2.4rem;
					}
				}
			}
			.nav_list {
				width: 100%;
				a {
					li {
						font-size: 1.8rem;
						line-height: 2.4rem;
					}
				}
			}
			.socials_and_logo {
				width: 100%;
			}
		}
		.image_background__container {
			bottom: -15rem;
			height: 15rem;
		}
    }
    
    @include screenMax('mobile') {
		padding: 2.4rem 2rem 0;
		.footer_body {
			flex-direction: column;
			.questions_container {
				.questions {
					width: 100%;
					margin-bottom: 0;
					h3 {
						font-size: 2.2rem;
						line-height: 2.8rem;
						margin-bottom: 0.8rem;
					}
					p {
						font-size: 1.4rem;
						line-height: 2rem;
						width: 100%;
						span {
							font-size: 1.4rem;
							line-height: 2rem;
						}
					}
				}
				.copy_write {
					display: none;
					h3 {
						font-size: 1.4rem;
						line-height: 2rem;
						margin-top: 0.8rem;
					}
				}
			}
			.nav_list {
				margin: 1.4rem 0;
				a {
					li {
						font-size: 1.4rem;
						line-height: 2rem;
					}
				}
			}
			.divider {
				width: 100%;
				margin: 2.4rem 0 4rem;
				height: 0.2rem;
				background: #DEDEDE;
				display: block;
				h3 {
					font-size: 1.4rem;
					line-height: 2rem;
					margin-top: 1.6rem;
				}
			}
			.socials_and_logo {
				gap: 3.2rem;
				.socials {
					gap: 1.2rem;
					a {
						.social_icon {
							width: 1.6rem;
							height: 1.6rem;
						}
					}
				}
				.footer_logo {
					h3 {
						font-size: 1.4rem;
						line-height: 2rem;
					}
					a {
						.logo {
							width: 7.2rem;
							height: 2.2rem;
						}
					}
					}
			}
		}
        .image_background__container {
            bottom: -8.5rem;
			height: 8.5rem;
		}
	}
}
