@import "@/styles/imports";

.detailed_pair_display_container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12rem;
    width: 100%;
    margin: 0 auto;
    .wrapper, .wrapper_reverse {
        display: flex;
        align-items: center;
        gap: 12rem;
        width: 100%;
        .image_wrapper {
            width: 50%;
            height: 41.3rem;
            position: relative;
        }
        .text_details{
            width: 50%;
        }
    }
    .divider {
        height: 0.1rem;
        width: 100vw;
        background: #00000033;
        display: none;
    }
    .wrapper_reverse {
        position: relative;
    }

    @include screenMax('tablet') {
        .wrapper, .wrapper_reverse {
            justify-content: unset;
            gap: 2rem;
        }
    }

    @include screenMax('mobile') {
        gap: 4rem;
        .wrapper, .wrapper_reverse {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 1.6rem;
            .image_wrapper {
                width: 100%;
                height: 31rem;
            }
            .text_details {
                text-align: center;
                margin: 0 auto;
                width: 100%;
            }
            &[data-type="true"] {
                flex-direction: column-reverse;
            }
        }
        .divider {
            &[data-type="true"] {
                display: block;
                margin: 0 -2rem;
            }
        }
    }
}