@import "@/styles/imports";

.logo {
	width: 30.2rem;
  	height: 4rem;
	position: relative;
	display: grid;
	place-items: center;
	transition: $all-transition;
	@include screenMax("tablet") {
		width: 19.7rem;
		height: 2.4rem;
	}
}
