@import "@/styles/imports";

.slides {
    padding-block: 12rem;
    animation: scroll 9s linear infinite;
    @include flex(flex-start, center);
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: hidden;
    .slide {
        position: relative;
        flex-shrink: 0;
        width: 72.8rem;
        height: 13.6rem;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @include screenMax('tablet') {
        padding-block: 8rem;
    }

    @include screenMax('mobile') {
        padding-block: 6rem;
    }
}