@import "@/styles/imports";

.theme_cards_container {
    width: 100%;
    padding: 10rem 10rem 0;
    margin: 0 auto;
    background: $col-white;
    .text_details {
        width: 100%;
        h3 {
            font-size: 2rem;
            line-height: 2.8rem;
            color: #616161;
            font-family: $font-gothic;
        }
    }
    .theme_details {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        width: 100%;
        .green_line {
            margin: 0 auto;
            height: 0.3rem;
            background: #3DB54A;
            width: 8.8rem;
            display: none;
        }
        h3 {
            font-family: $font-gothic-bold;
            color: #3DB54A;
            font-size: 3.5rem;
            line-height: 4.4rem;
        }
        h6 {
            font-family: $font-gothic;
            color: #14361B;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
        .theme_details_text {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            h4 {
                color: #14361B;
                font-family: $font-gothic-bold;
                font-size: 3.5rem;
                line-height: 4.4rem;
            }
            p {
                font-family: $font-gothic;
                color: #14361B;
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
        .link_container {
            width: 100%;
        }
    }

    @include screenMax('tablet') {
        padding: 6rem 5rem 0;
        .text_details{
            h3 {
                line-height: 2.4rem;
            }
        }
    }

    @include screenMax('mobile') {
        padding: 2rem;
        .text_details {
            width: 100%;
            h3 {
                font-size: 1.2rem;
                line-height: 1.6rem;
                text-align: left;
            }
        }
        .theme_details {
            gap: 0.8rem;
            margin: 0 auto;
            width: 100%;
            .green_line {
                display: block;
            }
            h3 {
                font-size: 2rem;
                line-height: 2.4rem;
            }
            h6 {
                display: none;
            }
            .theme_details_text {
                gap: 0.8rem;
                margin-bottom: 2.4rem;
                h4 {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    width: 65%;
                    margin: 0 auto;
                }
                p {
                    width: 70%;
                    margin: 0 auto;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
            .link_container {
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}