@import "@/styles/imports";

.theme_cards_container {
    width: 100%;
    padding: 0 10rem;
    margin: -6rem auto 0;
    background: $col-white;
    @include noScrollBar();
    .theme_details {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        width: 100%;
        @include noScrollBar();
        .green_line {
            margin: 0 auto;
            height: 0.3rem;
            background: #3DB54A;
            width: 8.8rem;
            display: none;
        }
        h3 {
            font-family: $font-gothic-bold;
            color: #3DB54A;
            font-size: 4.4rem;
            line-height: 5.6rem;
        }
        h6 {
            font-family: $font-gothic;
            color: #14361B;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
        .theme_details_text {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            h4 {
                color: #14361B;
                font-family: $font-gothic-bold;
                font-size: 4.4rem;
                line-height: 5.6rem;
            }
            p {
                font-family: $font-gothic;
                color: #14361B;
                font-size: 2.2rem;
                line-height: 2.8rem;
            }
        }
        .link_container {
            width: 100%;
        }
    }

    @include screenMax('tablet') {
        padding: 0 5rem;
        margin-top: -2rem;
        .theme_details {
            gap: 2rem;
            h3 {
                font-size: 3.2rem;
                line-height: 4rem;
            }
            h6 {
                font-size: 2rem;
                line-height: 2.4rem;
            }
            .theme_details_text {
                h4 {
                    font-size: 3.2rem;
                    line-height: 4rem;
                }
                p {
                    font-size: 2rem;
                    line-height: 2.4rem;
                }
            }
        }
    }

    @include screenMax('mobile') {
        padding: 0 2rem;
        margin-top: 0;
        .theme_details {
            gap: 0.8rem;
            margin: 0 auto;
            width: 100%;
            .green_line {
                display: block;
            }
            h3 {
                font-size: 2.4rem;
                line-height: 3.2rem;
                text-align: center;
            }
            h6 {
                display: none;
            }
            .theme_details_text {
                gap: 0.8rem;
                margin-bottom: 0.8rem;
                h4 {
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                    width: 75%;
                    margin: 0 auto;
                    text-align: center;
                }
                p {
                    width: 95%;
                    margin: 0 auto;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    text-align: center;
                }
            }
            .link_container {
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}